.Rproj.user
.Rhistory
.RData
.Ruserdata
.DS_Store
Images/otolith images/.DS_Store
Images/otolith images/JUM/2018/.DS_Store
Images/otolith images/NAR/.DS_Store
Images/otolith images/NAR/2019/.DS_Store

~$MasterList.xlsx
Label Template/Otolith Vial/~$olith label.docx
*.tmp
